* {
    box-sizing: border-box;
}

section {
    margin-top: 70px;
    padding: 0 15px;
    margin-bottom: 30px;
    border-bottom: 5px solid var(--oenBrownColor);
    border-radius: 50px;
}
section .container {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
}
.img-book {
    width: 200px;
    height: 380px;
    margin-left: 15px;
    filter: contrast(0.8); 
    border-radius: 20px;
}

.text-book {
    width: 55%;
    margin-top: 15px;
    line-height: 1.5rem;
    font-size: 1.1rem;
    direction: rtl;
    text-align: center;
    font-family: 'Markazi Text', serif;}

.box-information {
    min-width: 50px;
    max-width: 250px;
}
    .box-information img {
        width: 32.274%;
        border-radius: 5px;
        cursor: pointer;
    }
        .box-information img:hover {
            width: 400px;
            height: 400px;
            position: absolute;
            z-index: 11;
        }
section .par {
  padding-top: 20px;
  padding-bottom: 20px;
}
      /* All Media */
@media (max-width: 768px) {
  section .container {
    flex-direction: column;
  }
  .img-book {
    margin: auto;
  }
  .text-book {
    width: 97%;
    margin: 15px auto;
  }
  .box-information {
    width: 100%;
    margin: auto;
  }
  section .par {
    display: flex;
    flex-direction: column;
  }
  section .data {
    margin-left: 0;
  }
}
    /* Title */
.here-title {direction: rtl;}
h2 {
    color: #000;
    font-weight: bold;
    border-bottom: solid 4px;
    border-bottom-color: var(--threeBlueColor,rgb(53, 168, 224));
    font-size: 2rem;
    text-align: right;
    display: table;
    direction: rtl;
    margin: 10px auto;
    position: relative;
}
    h2::before {
        content: "";
        border-style: solid;
        border-color: transparent var(--oenBrownColor) transparent transparent;
        border-width: 10px;
        position: absolute;
        right: -22px;
        top: 10px;
    }
    
                /* Download and Reading Book */
.dow {
  display: flex;
  justify-content: space-evenly;
  padding: 15px 10px;
}
.link-in-book {
    background-color: green;
    padding: 7px 18px;
    width: 90px;
    border-radius: 5px;
    /* margin: 15px 15px 15px 0; */
    text-align: center;
    display: inline-block;
    font-weight: bold;
}
section .download {
  margin-left: 15px;
}
    .link-in-book:hover {
        box-shadow: 0 0 11px 0px #008000b8;
    }
                /* data --> [name + leaf + مساحة ] */
.data {
    text-align: center;
    margin-bottom: 5px;
    margin-left: -50px;
    font-size: 1.1rem;
    color: var(--oenBrownColor);
    direction: rtl;
}
    .data span {
        color: brown;
    }

            /* shera and fol */
.text-book .folw {
    color: var(--oenBrownColor);
    margin-top: 20px;
    font-size: 1.3rem;
    line-height: 50px;
}
    .text-book .folw a {
        line-height: 18px;
    }
        .text-book .folw img {
            width: 25px;
            height: 25px;
            border-radius: 15px;
        }


        /* New Books */
.text {
    margin-top: 0;
}